/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */

.mb-2 {
    margin-bottom: 2em;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}
/* HEADER */

/* header container */
header{
    background-color: white;
}
.container{
    width: 90%;
    margin: 0 auto;
    border: solid;
}
/* logo header */

.logo{
    vertical-align: middle;
}

#logo{
    width: 4em;
    vertical-align: middle;


}
#text-logo{
    font-size: 2em;
    font-weight: bold;
    vertical-align: middle;
}

/* MAIN */

/* .main-container{


} */